/* Custom CSS */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

.heading-style,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Signika Negative', sans-serif;
}
body {
    font-family: 'Signika Negative', sans-serif;
}

